body {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", calibri;
    color: var(--white1);
    background-color: var(--dark3);
}

* {
    transition: .6s background-color;
}

/*
font-family: "VT323"
*/

:root {
    --white1: #fff;
    --white2: #e3e3e3;
    --dark1: #0a0908;
    --dark2: #a7a7a7;
    --dark3: #161616;
    --dark4: #292929;

    --circle0: #9e9e9e;
    --circle1: #00ff37;
}

::-webkit-scrollbar {
    height:6px;
    width:8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--dark4);
}
    
::-webkit-scrollbar-button {
    display: none;
}

#topnav1 {
    top: 0;
    z-index: 3;
}

#botnav1 {
    bottom: 0;
    z-index: 1;
    display: flex;
}

#modeList {
    width: 80%;
    margin: 0 10px 0 0;
    overflow: auto;
    white-space: nowrap;
}

#modeList section {
    display: inline-block;
    margin: 6px;
    padding: 10px;
    background-color: var(--dark4);
    border-radius: 2px;
}

#modeList svg {
    margin: 0 -2px -4px 2px;
}

#modeBtnHold button {
    width: 100%;
    padding: 10px;
    color: var(--white1);
    background-color: var(--dark4);
    margin: 7px 0 0 0;
}

#modeBtnHold {
    width: 20%;
}

#modeDetails {
    z-index: 4;
    padding: 20px;
    backdrop-filter: blur(4px);
}

#closeDiv1 {
    float: right;
    margin: -30px 0 0 0;
    padding: 10px;
}

#detailsHold {
    max-width: 500px;
    margin: 26vh auto;
    padding: 20px;
    background-color: var(--dark1);
    border-radius: 4px;
    z-index: 6;
}

.fixedDiv {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#topnav1, #botnav1 {
    position: fixed;
    left: 0;
    right: 0;
    padding: 10px 20px;
    background-color: var(--dark1);
/*  
    box-shadow: 0 0 10px var(--dark4);
*/
}

#topnav section {
    display: inline;
}

#mode1 {
    float: right;
}

#menu1, #cross1 {
    float: left;
    margin: 4px 10px 0 0;
}

#sidenav {
    z-index: 2;
    display: flex;
    backdrop-filter: blur(4px);
}

@media only screen and (min-width: 600px){
    #sidediv {
        width: 40%;
    }

    #dummydiv {
        width: 60%;
    }
}

@media only screen and (max-width: 600px){
    #sidediv {
        width: 70%;
    }
    
    #dummydiv {
        width: 30%;
    }
}

#sidediv {
    margin: 0 0 0 -100vw;
    transition: .6s all;
    height: 100vh;
    background-color: var(--dark1);
    display: none;
}

#dummydiv {
    height: 100vh;
}

#mainHold {
    text-align: center;
    margin: 100px 20px 200px 20px;
}

#web1 {
    font-family: "VT323";
    font-size: 20px;
    width: 100%;
    color: var(--white2);
    background-color: var(--dark1);
    padding: 10px;
}

input, button {
    font-family: "DM Sans", calibri;
    border: 0;
    outline: 0;
    border-radius: 4px;
}

button {
    cursor: pointer;
}

input:focus {
    outline: 0;
}

input::placeholder {
    color: var(--dark2);
}

.text1 {
    font-size: 24px;
}

#subBtn, #btnHold button {
    padding: 10px 30px;
    color: var(--white1);
    font-size: 16px;
}

#subBtn {
    background-color: var(--dark4);
    margin: 0 0 0 10px;
}

#form1 {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;
}

#btnHold {
    max-width: 500px;
    margin: 0 auto;
}

#detailsBtn button {
    padding: 10px 30px;
    color: var(--white1);
    font-size: 16px;
    background-color: var(--dark4);
}

.flex {
    display: flex;
    justify-content: space-around;
}

#btnHold button {
    background-color: var(--dark4);
    margin: 0 10px;
}

#webList, #webList2 {
    text-align: left;
    font-size: 16px;
    padding: 20px;
    border-radius: 2px;
    max-width: 460px;
    margin: 20px auto;
}

#webList {
    background-color: var(--dark1);
}

#webList2 {
    background-color: var(--dark4);
    font-family: "VT323";
    max-height: 100px;
    overflow-y: scroll;
}

#webList span {
    color: var(--white2);
}

#listHold {
    margin: 10px 0 0 0;
    font-size: 20px;
    font-family: "VT323";
}