body {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", calibri;
}

/*
font-family: "VT303"
*/

:root {
    --white1: #e3e3e3;
    --dark1: #a7a7a7;
}

#topnav1 {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    box-shadow: 0 10px 30px var(--white1);
    display: flex;
}

#topnav1 .text1 {
    margin: 14px;
}

#topnav1 .text2 {
    margin: 20px;
}

.text1 {
    font-size: 24px;
}

.text2 {
    color: var(--dark1);
}